* {
  color: hsl(202, 65%, 26%);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px;
}

html {
  background-color: #f0efeb;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
.card {
  background-color: white;
  width: 945px;
}

h1,
.link,
.align {
  text-align: center;
}

h1 {
  font-size: 32px;
  margin: 16px auto;
  padding: 8px 0px;
}

.cards {
  margin: 0px auto;
  width: 953px;
}

.images,
.link,
.display {
  display: inline-block;
}

.images {
  background-color: white;
  margin: 16px 4px;
  padding: 16px 16px 4px;
  width: 307px;
}

.crop,
.link,
.description,
.steps {
  width: 275px;
}

.crop {
  height: 456.04px;
  object-fit: cover;
}

.link {
  font-size: 24px;
}

.link:hover {
  background-color: hsl(202, 65%, 26%);
  color: #f0efeb;
}

.card {
  margin: 32px auto;
  padding: 16px;
}

.credits {
  color: hsl(202, 0%, 26%);
  font-size: 12px;
}

h2,
p {
  margin-bottom: 8px;
}

.description {
  margin: 0px 40px;
  vertical-align: top;
}

ul,
ol {
  padding-left: 16px;
}

.steps {
  vertical-align: top;
}

ol.pizza {
  padding-left: 14px;
}

.pizza {
  font-size: 13px;
}