* {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: hsl(202, 65%, 26%);
}

html {
  background-color: #f0efeb;
}

h1 {
  background-color: white;
  text-align: center;
  margin: 16px auto;
  padding: 8px;
  font-size: 32px;
  width: 930px;
}

.recipe {
  background-color: white;
  padding: 16px 16px 4px;
  width: 275px;
  display: inline-block;
  margin: 16px 4px;
}

.crop {
  width: 275px;
  height: 456.04px;
  object-fit: cover;
}

.figs-card {
  width: 954px;
  margin: 0 auto;
}

.link {
  font-size: 24px;
  text-align: center;
  width: 275px;
  display: inline-block;
}

.link:hover {
  background-color: hsl(202, 65%, 26%);
  color: #f0efeb;
}